In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv('./data/OBS_ASOS_TIM_20230323151247.csv', encoding="CP949")
df2=pd.read_csv('./data/OBS_ASOS_TIM_20230323151410.csv', encoding="CP949")
df3=pd.read_csv('./data/OBS_ASOS_TIM_20230323151612.csv', encoding="CP949")
df4=pd.read_csv('./data/OBS_ASOS_TIM_20230323151804.csv', encoding="CP949")
df5=pd.read_csv('./data/OBS_ASOS_TIM_20230323151958.csv', encoding="CP949")

In [3]:
df=pd.concat([df1, df2, df3, df4, df5], axis=0)

In [4]:
df

         지점 지점명                일시  증기압(hPa)  이슬점온도(°C)  시정(10m)  지면온도(°C)
0        90  속초  2018-01-01 00:00       1.3      -19.5   2000.0      -2.3
1        90  속초  2018-01-01 01:00       1.5      -18.2   2000.0      -2.7
2        90  속초  2018-01-01 02:00       1.5      -17.7   2000.0      -3.0
3        90  속초  2018-01-01 03:00       1.5      -18.2   2000.0      -3.2
4        90  속초  2018-01-01 04:00       1.4      -18.5   2000.0      -3.3
...     ...  ..               ...       ...        ...      ...       ...
831823  295  남해  2022-12-31 19:00       3.7       -6.7   2000.0       0.9
831824  295  남해  2022-12-31 20:00       3.9       -6.1   2000.0       0.3
831825  295  남해  2022-12-31 21:00       3.9       -5.9   2000.0       0.0
831826  295  남해  2022-12-31 22:00       3.7       -6.6   2000.0      -0.5
831827  295  남해  2022-12-31 23:00       3.9       -6.1   1984.0      -0.9

[4162976 rows x 7 columns]

In [5]:
est=pd.read_csv('./data/기상대기정보.csv')

In [6]:
est

,지점명,일시,지점,기온(°C),강수여부,풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),해면기압(hPa),...,Ozon,NO2,CO,SO2,증기압(hPa),이슬점온도(°C),시정(10m),지면온도(°C),월,전날기온
0,철원,2018-08-02 01:00:00,95,28.2,0,1.0,50.0,79.0,987.3,1004.6,...,0.023,0.003,0.3,0.001,30.2,24.2,1522.0,27.7,8,25.0
1,철원,2018-08-02 02:00:00,95,27.3,0,0.7,90.0,85.0,987.5,1004.9,...,0.024,0.003,0.3,0.001,30.7,24.5,1346.0,26.8,8,24.2
2,철원,2018-08-02 03:00:00,95,26.5,0,0.4,0.0,87.0,987.8,1005.2,...,0.024,0.003,0.2,0.001,30.0,24.1,1072.0,26.2,8,23.6
3,철원,2018-08-02 04:00:00,95,26.1,0,1.0,70.0,91.0,987.9,1005.4,...,0.024,0.002,0.2,0.001,30.7,24.5,1125.0,25.7,8,23.7
4,철원,2018-08-02 05:00:00,95,26.5,0,0.6,140.0,90.0,988.4,1005.8,...,0.021,0.002,0.2,0.001,31.1,24.7,1329.0,25.4,8,22.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1933328,거제,2022-12-31 19:00:00,294,3.6,0,1.3,270.0,49.0,1023.7,1029.3,...,0.037,0.008,0.5,0.003,3.9,-6.1,5000.0,0.4,12,3.5
1933329,거제,2022-12-31 20:00:00,294,3.4,0,1.5,290.0,54.0,1023.7,1029.4,...,0.034,0.011,0.5,0.003,4.2,-5.0,4142.0,-0.4,12,3.6
1933330,거제,2022-12-31 21:00:00,294,3.1,0,1.6,290.0,58.0,1024.2,1029.9,...,0.037,0.007,0.5,0.003,4.4,-4.3,3315.0,-1.0,12,1.5
1933331,거제,2022-12-31 22:00:00,294,1.9,0,1.4,270.0,61.0,1023.8,1029.5,...,0.037,0.007,0.5,0.003,4.3,-4.8,3195.0,-1.9,12,0.7
1933332,거제,2022-12-31 23:00:00,294,0.6,0,1.3,290.0,65.0,1024.2,1029.9,...,0.035,0.007,0.5,0.003,4.2,-5.2,2892.0,-2.7,12,0.7

In [7]:
# 일시 컬럼을 시계열 자료형으로 변경
df['일시'] = pd.to_datetime(df['일시'], format='%Y%m%d %H:%M')
est['일시'] = pd.to_datetime(est['일시'], format='%Y%m%d %H:%M')

In [8]:
merge = pd.merge(est,df, how='left',on=['지점명','일시','지점'])

In [9]:
merge

,지점명,일시,지점,기온(°C),강수여부,풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),해면기압(hPa),...,증기압(hPa)_x,이슬점온도(°C)_x,시정(10m)_x,지면온도(°C)_x,월,전날기온,증기압(hPa)_y,이슬점온도(°C)_y,시정(10m)_y,지면온도(°C)_y
0,철원,2018-08-02 01:00:00,95,28.2,0,1.0,50.0,79.0,987.3,1004.6,...,30.2,24.2,1522.0,27.7,8,25.0,30.2,24.2,1522.0,27.7
1,철원,2018-08-02 02:00:00,95,27.3,0,0.7,90.0,85.0,987.5,1004.9,...,30.7,24.5,1346.0,26.8,8,24.2,30.7,24.5,1346.0,26.8
2,철원,2018-08-02 03:00:00,95,26.5,0,0.4,0.0,87.0,987.8,1005.2,...,30.0,24.1,1072.0,26.2,8,23.6,30.0,24.1,1072.0,26.2
3,철원,2018-08-02 04:00:00,95,26.1,0,1.0,70.0,91.0,987.9,1005.4,...,30.7,24.5,1125.0,25.7,8,23.7,30.7,24.5,1125.0,25.7
4,철원,2018-08-02 05:00:00,95,26.5,0,0.6,140.0,90.0,988.4,1005.8,...,31.1,24.7,1329.0,25.4,8,22.9,31.1,24.7,1329.0,25.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1933328,거제,2022-12-31 19:00:00,294,3.6,0,1.3,270.0,49.0,1023.7,1029.3,...,3.9,-6.1,5000.0,0.4,12,3.5,3.9,-6.1,5000.0,0.4
1933329,거제,2022-12-31 20:00:00,294,3.4,0,1.5,290.0,54.0,1023.7,1029.4,...,4.2,-5.0,4142.0,-0.4,12,3.6,4.2,-5.0,4142.0,-0.4
1933330,거제,2022-12-31 21:00:00,294,3.1,0,1.6,290.0,58.0,1024.2,1029.9,...,4.4,-4.3,3315.0,-1.0,12,1.5,4.4,-4.3,3315.0,-1.0
1933331,거제,2022-12-31 22:00:00,294,1.9,0,1.4,270.0,61.0,1023.8,1029.5,...,4.3,-4.8,3195.0,-1.9,12,0.7,4.3,-4.8,3195.0,-1.9
1933332,거제,2022-12-31 23:00:00,294,0.6,0,1.3,290.0,65.0,1024.2,1029.9,...,4.2,-5.2,2892.0,-2.7,12,0.7,4.2,-5.2,2892.0,-2.7

In [10]:
merge.dropna(inplace=True)

In [11]:
merge.to_csv('./data/기온대기정보_추가.csv', index=False)

In [13]:
merge.head()

,지점명,일시,지점,기온(°C),강수여부,풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),해면기압(hPa),...,증기압(hPa)_x,이슬점온도(°C)_x,시정(10m)_x,지면온도(°C)_x,월,전날기온,증기압(hPa)_y,이슬점온도(°C)_y,시정(10m)_y,지면온도(°C)_y
0,철원,2018-08-02 01:00:00,95,28.2,0,1.0,50.0,79.0,987.3,1004.6,...,30.2,24.2,1522.0,27.7,8,25.0,30.2,24.2,1522.0,27.7
1,철원,2018-08-02 02:00:00,95,27.3,0,0.7,90.0,85.0,987.5,1004.9,...,30.7,24.5,1346.0,26.8,8,24.2,30.7,24.5,1346.0,26.8
2,철원,2018-08-02 03:00:00,95,26.5,0,0.4,0.0,87.0,987.8,1005.2,...,30.0,24.1,1072.0,26.2,8,23.6,30.0,24.1,1072.0,26.2
3,철원,2018-08-02 04:00:00,95,26.1,0,1.0,70.0,91.0,987.9,1005.4,...,30.7,24.5,1125.0,25.7,8,23.7,30.7,24.5,1125.0,25.7
4,철원,2018-08-02 05:00:00,95,26.5,0,0.6,140.0,90.0,988.4,1005.8,...,31.1,24.7,1329.0,25.4,8,22.9,31.1,24.7,1329.0,25.4