In [32]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import numpy as np

In [33]:
df=pd.read_csv('C:/Users/tjoeun/Desktop/송수린/workspace/weather_project/data/예측용/예측용관측소.csv')

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15648 entries, 0 to 15647
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지점명     15648 non-null  object
 1   일시      15648 non-null  object
 2   PM10    13903 non-null  float64
 3   PM2.5   14437 non-null  float64
 4   O3      14722 non-null  float64
 5   NO2     14723 non-null  float64
 6   CO      14534 non-null  float64
 7   SO2     14681 non-null  float64
dtypes: float64(6), object(2)
memory usage: 978.1+ KB

In [35]:
df

       지점명                일시  PM10  PM2.5     O3    NO2   CO    SO2
0       고산  2022-07-01 01:00   NaN    5.0    NaN  0.002  NaN  0.000
1       의성  2022-07-01 01:00  17.0    5.0  0.010  0.006  0.2  0.002
2       금산  2022-07-01 01:00  12.0    6.0  0.012  0.006  0.2  0.003
3       통영  2022-07-01 01:00  14.0    3.0  0.011  0.011  0.4  0.002
4      의령군  2022-07-01 01:00  11.0    8.0  0.011  0.004  0.2  0.002
...    ...               ...   ...    ...    ...    ...  ...    ...
15643   서울  2023-02-28 24:00  25.0   21.0  0.026  0.035  0.5  0.003
15644  울릉도  2023-02-28 24:00  26.0    9.0  0.050  0.009  0.3  0.002
15645   포항  2023-02-28 24:00  25.0   15.0  0.044  0.015  0.5  0.002
15646  순창군  2023-02-28 24:00  28.0   24.0  0.026  0.010  0.1  0.002
15647   대구  2023-02-28 24:00  40.0   24.0  0.012  0.051  0.6  0.004

[15648 rows x 8 columns]

In [36]:
df1=df[['PM10','PM2.5']]

In [37]:
df1=df1.dropna()

In [38]:
df1.corr()

           PM10     PM2.5
PM10   1.000000  0.871784
PM2.5  0.871784  1.000000

In [39]:
df[df['PM2.5'].isnull()]

       지점명                일시  PM10  PM2.5     O3    NO2   CO    SO2
100     금산  2022-07-01 17:00   2.0    NaN  0.036  0.008  0.2  0.002
205    의령군  2022-07-02 11:00  36.0    NaN  0.060  0.006  0.3  0.007
212    의령군  2022-07-02 12:00  30.0    NaN  0.061  0.004  0.3  0.005
380     금산  2022-07-03 16:00  18.0    NaN  0.039  0.005  0.3  0.003
385     의성  2022-07-03 17:00  20.0    NaN  0.058  0.004  0.2  0.003
...    ...               ...   ...    ...    ...    ...  ...    ...
15081  울릉도  2023-02-26 16:00  12.0    NaN  0.048  0.005  0.2  0.002
15182   목포  2023-02-27 02:00  19.0    NaN  0.039  0.007  0.5  0.003
15539   충주  2023-02-28 14:00   NaN    NaN    NaN    NaN  NaN    NaN
15550   충주  2023-02-28 15:00   NaN    NaN    NaN    NaN  NaN    NaN
15562   충주  2023-02-28 16:00   NaN    NaN    NaN    NaN  NaN    NaN

[1211 rows x 8 columns]

In [40]:
x=df1['PM10']
y=df1['PM2.5']
stats.linregress(x, y)
# PM2.5=-0.8556+0.6094*PM10

LinregressResult(slope=0.6094031594803292, intercept=-0.8556091254495826, rvalue=0.8717844783024844, pvalue=0.0, stderr=0.002922846278146126, intercept_stderr=0.10499914084531588)

In [41]:
x=df1['PM2.5']
y=df1['PM10']
stats.linregress(x, y)
# PM10=8.449+1.247*PM2.5

LinregressResult(slope=1.2471352745483542, intercept=8.449330474390283, rvalue=0.8717844783024844, pvalue=0.0, stderr=0.005981565140992786, intercept_stderr=0.13217600984651767)

In [42]:
# 미세, 초미세 농도 결측값 회귀추정하여 대체
df['PM10']=df['PM10'].fillna(8.449+1.247*df['PM2.5'])
df['PM2.5']=df['PM2.5'].fillna(-0.8556+0.6094*df['PM10'])

In [43]:
df.to_csv('예측용관측소_수정.csv', index=False)